
/* moustache template system */
/* boucle */


{{#shapes}}
{{#first}}
.icon{
    background-image: url('/assets/images/sprites/{{{sprite}}}'); /* car le paquet ajoute un random string */
}

.no-svg .icon{
    background-image: url('/assets/images/sprites/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}'); /* car le paquet ajoute un random string */
    
}

{{/first}}
.icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
background-position: {{position.relative.xy}}; /* voir le site du plugin svg-sprite */
}
 {{/shapes}}
