.primary-nav{
    padding-top: 10px;

    @mixin atMedium{
	padding-top: 0;
    }
    &--pull-right{
	@mixin atMedium{
	    float:right;
	    
	}
    }

    ul{
	margin: 0px;
	padding: 0px;
	@mixin clearfix;
	
    }
    li{
	list-style:none;
	padding-right: 7px;
	display:inline-block;
	@mixin atMedium{
	    padding-right: 20px;
	    float:left;
	    display:block;
	    
	}
    }

    li:last-child{
	padding-right: 0px;

	@mixin atMedium{
	    padding-right: 20px;
	}
    }

    a{
	color: #fff;
	text-decoration:none;
	font-weight: 300;
	padding: 5px 8px;
	display:block;
	font-size: 0.8em;
	background-color: rgba($mainBlue, .5);
	
	@mixin atMedium{
	    padding: 12px 0px;
	    background-color: transparent;
	    
	}
    }

    
}