.site-header{
    /* le header est au dessus de large hero sur le site */
    position: absolute; /* prend seulement la place nécessaire pour remplir son contenu */
    z-index:2;
    width:100%;
    padding: 10px 0px;
    transition: background-color .3s ease-out; /*default linear */

    &--is-expanded{
	background-color: rgba($mainBlue, .55);
    }

    /* afficher le nav que pour les grands */
    @mixin atMedium{
	position:fixed;
	background-color: rgba($mainBlue,.3); /* comment trouver rgba postcss-hexrgba */

	/* assombri pendant la descente */
	&--dark{
	    background-color: rgba(23,51,72,.85);
	}

    }
    
    &__btn-container{

	@mixin atMedium{
	    float:right;

	}

    }

    &__logo{
	position:absolute;
	background-color: $mainBlue;
	padding: 25px 36px;
	top: 0;
	/* pour centrer le logo */
	/* on le déplace de 50% de la longueur du parent vers la gauche */
	left: 50%;
	/* mais comme le point est au centre du bloque on revient de en arrière
        de 50% de la taille du bloque */
	transform: translateX(-50%) scale(.8); /* scale pour rétrécir le logo */
	transform-origin: 50% 0; /* on déplace le centre de gravité en haut au milieu */
	transition: transform .3s ease-out;

	@mixin atMedium{
	    left:auto;
	    transform: translateX(0);
/* logo que quand dark est utilisé */
	    .site-header--dark &{
		/* réduire la taille du logo quand on descent */
		transform: scale(.56);
	    }
	}
    }

    &__logo__graphic{
	text-indent: -9999px; /* cache le texte */
    }


    &__menu-icon{
	width:20px;
	height: 19px;
	position:absolute;
	top:20px;
	right:10px;
	z-index:10;


	&::before{ /*sudo element */
	    content:"";
	    position:absolute;
	    top:0;
	    left: 0px;
	    width: 20px;
	    height: 3px;
	    background-color: #fff;
	    transform-origin: 0 0; /* centre de gravité en haut à gauche */
	    transition: transform .3s ease-out;
	}

	&__middle{
	    position:absolute;
	    top:8px;
	    left: 0px;
	    width: 20px;
	    height: 3px;
	    background-color: #fff;
	    transition: all .3s ease-out;
	    transform-origin: 0 50%;

	}

	&::after{
	    content:"";
	    position:absolute;
	    bottom:0;
	    left: 0px;
	    width: 20px;
	    height: 3px;
	    background-color: #fff;
   	    transform-origin: 0 100%; /* centre de gravité en bas à droite */
	    transition: transform .3s ease-out;


	}

	
	@mixin atMedium{
	    display:none;
	}
	
    }

    /* faire un x */
    &__menu-icon--close-x{
	&::before{
	    transform:rotate(45deg) scaleX(1.25); /* ne pas oublier deg scaleX augmente la taille en X*/ 
	}
	&::after{
	    transform:rotate(-45deg) scaleX(1.25) translateY(1px); /* tranlate bouge un peu vers le bas */
	}
	.site-header__menu-icon__middle{
	    opacity:0;
	    transform: scaleX(0);
	}
	
    }

    /* cache le menu quand l'écran est petit et l'affiche quand il est medium */
    &__menu-content{
	opacity: 0; /* toujours caché mais s'affiche graduellement grace à is-visible*/
	padding-top:90px;
	text-align: center;
	transition: all .3s ease-out;
	z-index:-10;
	position:relative;
	transform: scale(1.2); /*1 par defaut */

	
	@mixin atMedium{
	    opacity:1;
	    z-index:1;
	    padding-top: 0;
    	    transform: scale(1);

	}

	&--is-visible{
	    opacity:1;
	    z-index:1;
	    transform: scale(1);
	    
	}
    }
}