
/* moustache template system */
/* boucle */


.icon{
    background-image: url('../../assets/images/sprites/sprite-8eb89099.svg'); /* car le paquet ajoute un random string */
}

.no-svg .icon{
    background-image: url('../../assets/images/sprites/sprite-8eb89099.png'); /* car le paquet ajoute un random string */
    
}

.icon--clear-view-escapes {
    width: 144.4px;
    height: 61.53px;
background-position: 0 0; /* voir le site du plugin svg-sprite */
}
.icon--comment {
    width: 66px;
    height: 66px;
background-position: 99.71014492753623% 0; /* voir le site du plugin svg-sprite */
}
.icon--facebook {
    width: 23.23px;
    height: 44.01px;
background-position: 26.424310365536293% 45.92133741323979%; /* voir le site du plugin svg-sprite */
}
.icon--fire {
    width: 58px;
    height: 66px;
background-position: 0 99.58035714285714%; /* voir le site du plugin svg-sprite */
}
.icon--globe {
    width: 66px;
    height: 66px;
background-position: 28.019323671497585% 99.58035714285714%; /* voir le site du plugin svg-sprite */
}
.icon--instagram {
    width: 44.01px;
    height: 44.01px;
background-position: 63.059522249879905% 49.25740726919919%; /* voir le site du plugin svg-sprite */
}
.icon--mail {
    width: 66px;
    height: 50px;
background-position: 0 48.0703125%; /* voir le site du plugin svg-sprite */
}
.icon--rain {
    width: 66px;
    height: 66px;
background-position: 99.71014492753623% 58.92857142857143%; /* voir le site du plugin svg-sprite */
}
.icon--star {
    width: 66px;
    height: 66px;
background-position: 59.90338164251208% 99.58035714285714%; /* voir le site du plugin svg-sprite */
}
.icon--twitter {
    width: 53.78px;
    height: 44.06px;
background-position: 94.15199343125627% 98.55159026429745%; /* voir le site du plugin svg-sprite */
}
.icon--wifi {
    width: 62px;
    height: 66px;
background-position: 68.43601895734596% 0; /* voir le site du plugin svg-sprite */
}
.icon--youtube {
    width: 36.75px;
    height: 44px;
background-position: 37.76931216931217% 45.917910447761194%; /* voir le site du plugin svg-sprite */
}
